.wrapper {
  position: relative;
  height: 100%;
}

.map {
  height: 100%;
}

.status {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 2px;
  border-radius: 2px;
  background-color: rgba(#fff, 0.8);
}
