@import '../variables.scss';

.wrapper {
  position: relative;
}

.input {
  width: 100%;
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.border {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid $primary;
  pointer-events: none;

  .input:focus + & {
    transform: scaleX(1);
  }
}

:global(.pac-container) {
  &:after {
    background-image: none !important;
    height: 0px;
  }
}
