@import '../../../../components/variables.scss';

.container {
  display: flex;
  flex-flow: column;
  height: 100%;

  .loading &:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.2;
  }
}

.body {
  flex: 1;
  padding: 15px;
}

.control {
  background-color: #f7f2ee;
  padding: 2px 6px;

  &Item {
    padding: 6px;
  }
}

.top {
  font-size: 10px;
  line-height: 22px;
}

.description {
  display: inline-block;
  color: $mute;
}

.addStop {
  float: right;
}

.inputList {
  margin-bottom: 5px;
}

.inputGroup {
  position: relative;
  padding-left: 30px;

  &Prepend {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
  }

  &:after {
    content: ' ';
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: -50%;
    width: 1px;
    margin: 9px 0;
    display: block;
    background-image: linear-gradient(to bottom, $primary 30%, rgba(255, 255, 255, 0) 20%);
    background-position: left;
    background-size: 1px 5px;
    background-repeat: repeat-y;
  }

  &:last-child:after {
    display: none;
  }
}

.icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 12px;
  color: $primary;
}

.input {
  width: 100%;

  input {
    padding-right: 30px;
  }
}

.close {
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  opacity: 0;
  cursor: pointer;

  .inputGroup:hover & {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  &:before, &:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 17px;
    width: 1px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.button {
  width: 100%;
  font-size: 13px;
  padding: 8px;
}
