@import '../../../../components/variables.scss';

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.body {
  flex: 1;
  padding: 15px;
}

.control {
  background-color: #f7f2ee;
  padding: 2px 6px;

  &Item {
    padding: 6px;
  }
}

.top {
  font-size: 10px;
  line-height: 22px;
}

.description {
  display: inline-block;
  color: $mute;
}

.addStop {
  float: right;
}

.inputList {
  margin-bottom: 5px;
}

.field {
  position: relative;
}

.input {
  padding-right: 30px;
}

.close {
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  opacity: 0;
  cursor: pointer;

  .field:hover & {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  &:before, &:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 17px;
    width: 1px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.button {
  width: 100%;
  font-size: 13px;
  padding: 8px;
}
